raasclient/servercfg/servercfg/Service References/RAASClientServiceRef/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RAASClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IRAASClientService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService" location="" />
  <wsdl:types />
  <wsdl:binding name="NetNamedPipeBinding_IRAASClientService" type="i0:IRAASClientService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IRAASClientService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="StartRemoteApplication">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/StartRemoteApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectServer">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/ConnectServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectServer">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/DisconnectServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerStatus">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/GetServerStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerVersion">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/GetServerVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartAutostart">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/StartAutostart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartShortcutsServer">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/StartShortcutsServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartKeepAlive">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/1.0.0/RAASClient.RAASClient.IRAASClientService/IRAASClientService/StartKeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RAASClientService">
    <wsdl:port name="NetNamedPipeBinding_IRAASClientService" binding="tns:NetNamedPipeBinding_IRAASClientService">
      <soap12:address location="net.pipe://localhost/RAASClientService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/RAASClientService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-SEBG87B\keglu</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>