raasclient/raasclient/raasclient/Service References/RemoteAppsServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RemoteAppsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IRemoteAppsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService" location="" />
  <wsdl:types />
  <wsdl:binding name="NetNamedPipeBinding_IRemoteAppsService" type="i0:IRemoteAppsService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IRemoteAppsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService/IRemoteAppsService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService/IRemoteAppsService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartRemoteApplication">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService/IRemoteAppsService/StartRemoteApplication" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService/IRemoteAppsService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService/IRemoteAppsService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService/IRemoteAppsService/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Connected">
      <soap12:operation soapAction="http://applications.elbitin.com/WCF/RAASClient/2.0.0/RAASClient.RemoteApps.IRemoteAppsService/IRemoteAppsService/Connected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteAppsService">
    <wsdl:port name="NetNamedPipeBinding_IRemoteAppsService" binding="tns:NetNamedPipeBinding_IRemoteAppsService">
      <soap12:address location="net.pipe://localhost/RemoteAppsService/192.168.10.15" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/RemoteAppsService/192.168.10.15</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SPECTRE\keglu</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>