raasclient/raasclient/raasclient/Service References/RAASServerServiceRef/RAASServer.RAASSvr.IRAASServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/Imports">
      <xsd:import namespace="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRAASServerService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShortcutsXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutsXml" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShortcutsXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutsXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShareXml_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShareXml" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShareXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShareXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetLoggedInState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggedInState" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetLoggedInState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggedInStateResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_LogOff_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOff" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_LogOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogOffResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIcon" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIconResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetAutostartEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutostartEntries" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetAutostartEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutostartEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShortcutIcon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutIcon" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShortcutIcon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutIconResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_Reboot_InputMessage">
    <wsdl:part name="parameters" element="tns:Reboot" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_Reboot_OutputMessage">
    <wsdl:part name="parameters" element="tns:RebootResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShortcutsServerPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutsServerPath" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetShortcutsServerPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShortcutsServerPathResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetKeepAliveAgentPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetKeepAliveAgentPath" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetKeepAliveAgentPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetKeepAliveAgentPathResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetAutostartPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutostartPath" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetAutostartPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutostartPathResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetAppNamesPath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAppNamesPath" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_GetAppNamesPath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAppNamesPathResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_UpdateShortcuts_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShortcuts" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_UpdateShortcuts_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShortcutsResponse" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_ShortcutsXmlChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShortcutsXmlChange" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_ShareXmlChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ShareXmlChange" />
  </wsdl:message>
  <wsdl:message name="IRAASServerService_LoggedInChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:LoggedInChange" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IRAASServerService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/Subscribe" message="tns:IRAASServerService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/SubscribeResponse" message="tns:IRAASServerService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/Unsubscribe" message="tns:IRAASServerService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/UnsubscribeResponse" message="tns:IRAASServerService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetShortcutsXml">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShortcutsXml" message="tns:IRAASServerService_GetShortcutsXml_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShortcutsXmlResponse" message="tns:IRAASServerService_GetShortcutsXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetShareXml">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShareXml" message="tns:IRAASServerService_GetShareXml_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShareXmlResponse" message="tns:IRAASServerService_GetShareXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetLoggedInState">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetLoggedInState" message="tns:IRAASServerService_GetLoggedInState_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetLoggedInStateResponse" message="tns:IRAASServerService_GetLoggedInState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LogOff">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/LogOff" message="tns:IRAASServerService_LogOff_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/LogOffResponse" message="tns:IRAASServerService_LogOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetIcon">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetIcon" message="tns:IRAASServerService_GetIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetIconResponse" message="tns:IRAASServerService_GetIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAutostartEntries">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetAutostartEntries" message="tns:IRAASServerService_GetAutostartEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetAutostartEntriesResponse" message="tns:IRAASServerService_GetAutostartEntries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetShortcutIcon">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShortcutIcon" message="tns:IRAASServerService_GetShortcutIcon_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShortcutIconResponse" message="tns:IRAASServerService_GetShortcutIcon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Reboot">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/Reboot" message="tns:IRAASServerService_Reboot_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/RebootResponse" message="tns:IRAASServerService_Reboot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetVersion">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetVersion" message="tns:IRAASServerService_GetVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetVersionResponse" message="tns:IRAASServerService_GetVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetShortcutsServerPath">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShortcutsServerPath" message="tns:IRAASServerService_GetShortcutsServerPath_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetShortcutsServerPathResponse" message="tns:IRAASServerService_GetShortcutsServerPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetKeepAliveAgentPath">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetKeepAliveAgentPath" message="tns:IRAASServerService_GetKeepAliveAgentPath_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetKeepAliveAgentPathResponse" message="tns:IRAASServerService_GetKeepAliveAgentPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAutostartPath">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetAutostartPath" message="tns:IRAASServerService_GetAutostartPath_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetAutostartPathResponse" message="tns:IRAASServerService_GetAutostartPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAppNamesPath">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetAppNamesPath" message="tns:IRAASServerService_GetAppNamesPath_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/GetAppNamesPathResponse" message="tns:IRAASServerService_GetAppNamesPath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateShortcuts">
      <wsdl:input wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/UpdateShortcuts" message="tns:IRAASServerService_UpdateShortcuts_InputMessage" />
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/UpdateShortcutsResponse" message="tns:IRAASServerService_UpdateShortcuts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ShortcutsXmlChange">
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/ShortcutsXmlChange" message="tns:IRAASServerService_ShortcutsXmlChange_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ShareXmlChange">
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/ShareXmlChange" message="tns:IRAASServerService_ShareXmlChange_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LoggedInChange">
      <wsdl:output wsaw:Action="http://applications.elbitin.com/WCF/RAASServer/1.0.0/RAASServer.RAASSvr.IRAASServerService/IRAASServerService/LoggedInChange" message="tns:IRAASServerService_LoggedInChange_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>